packages

# Build results
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/
node_modules/
.tscache/

*.user
*.suo
~$*
*.log

MediaQuere.Web/Assets/JavaScripts/scripts.js
MediaQuere.Web/Assets/TypeScripts/**/*.js
MediaQuere.Web/Assets/Styles/responsive.css