<div class="info">
	<div class="section">
		<label>Canvas</label>
		<div class="wrapped">
			<div class="wrap">
				<span><b>Width:</b> {{app.getCanvasWidth()}}</span>
			</div>
			<div class="wrap">
				<span><b>Height:</b> {{app.getCanvasHeight()}}</span>
			</div>
		</div>
		<div class="wrapped">
			<div class="wrap">
				<span><b>Zoom:</b> {{app.canvas.zoom}}%</span>
			</div>
			<div class="wrap">
				<span><b>Density:</b> {{app.canvas.density}}</span>
			</div>
		</div>
	</div>
	<div class="section">
		<label>Viewport</label>
		<div class="wrapped">
			<div class="wrap">
				<span><b>Width:</b> {{app.canvas.width}}</span>
			</div>
			<div class="wrap">
				<span><b>Height:</b> {{app.canvas.height}}</span>
			</div>
		</div>
	</div>
	<div class="section">
		<label>Layers</label>
		<div class="wrapped">
			<div class="wrap">
				<span><b>MaxW:</b> {{app.layerStats.maxWidth}}</span>
			</div>
			<div class="wrap">
				<span><b>MaxH:</b> {{app.layerStats.maxHeight}}</span>
			</div>
		</div>
		<div class="wrapped">
			<div class="wrap">
				<span><b>MinW:</b> {{app.layerStats.minWidth}}</span>
			</div>
			<div class="wrap">
				<span><b>MinH:</b> {{app.layerStats.minHeight}}</span>
			</div>
		</div>
	</div>
</div>