<div class="info">
	<div class="section" canvas-info>
		<label>Canvas</label>
		<div class="wrapped">
			<div class="wrap">
				<span><b>Width:</b> {{info.width}}</span>
			</div>
			<div class="wrap">
				<span><b>Height:</b> {{info.height}}</span>
			</div>
		</div>
		<div class="wrapped">
			<div class="wrap">
				<span><b>Zoom:</b> {{$root.canvas.zoom}}%</span>
			</div>
			<div class="wrap">
				<span><b>Density:</b> {{$root.canvas.density}}</span>
			</div>
		</div>
	</div>
	<div class="section">
		<label>Viewport</label>
		<div class="wrapped">
			<div class="wrap">
				<span><b>Width:</b> {{$root.canvas.viewport.width}}</span>
			</div>
			<div class="wrap">
				<span><b>Height:</b> {{$root.canvas.viewport.height}}</span>
			</div>
		</div>
	</div>
	<div class="section" layers-info>
		<label>Layers</label>
		<div class="wrapped">
			<div class="wrap">
				<span><b>MaxW:</b> {{info.maxWidth}}</span>
			</div>
			<div class="wrap">
				<span><b>MaxH:</b> {{info.maxHeight}}</span>
			</div>
		</div>
		<div class="wrapped">
			<div class="wrap">
				<span><b>MinW:</b> {{info.minWidth}}</span>
			</div>
			<div class="wrap">
				<span><b>MinH:</b> {{info.minHeight}}</span>
			</div>
		</div>
	</div>
</div>