<h1>Layers</h1>
<div class="layers">
	<div class="layer" ng-repeat="layer in app.layers track by $index" ng-mouseenter="layer.hover = true" ng-mouseleave="layer.hover = false">
		<div class="hider" style="{{'border-color: ' + layer.borderColor + '; background-color: ' + layer.bgColor}}" ng-click="layer.enabled = !layer.enabled">
			<div class="icon" ng-class="{show: layer.enabled}"></div>
		</div>
		<div class="row">
			<div class="float-wrapper">
				<div class="float">
					<label>&lt;</label>
				</div>
				<div class="overflow">
					<div class="wrapped">
						<div class="wrap">
							<span>width: {{layer.maxWidth ? layer.maxWidth + 'px' : 'auto'}}</span>
						</div>
						<div class="wrap">
							<span>height: {{layer.maxHeight ? layer.maxHeight + 'px' : 'auto'}};</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="float-wrapper">
				<div class="float">
					<label>&gt;</label>
				</div>
				<div class="overflow">
					<div class="wrapped">
						<div class="wrap">
							<span>width: {{layer.minWidth ? layer.minWidth + 'px' : 'auto'}};</span>
						</div>
						<div class="wrap">
							<span>height: {{layer.minHeight ? layer.minHeight + 'px' : 'auto'}};</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>