#workspace {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	right: 200px;
	bottom: 0;
	background-color: #808080;
	overflow: hidden;

	> .inner {
		position: absolute;
		top: 2px;
		left: 2px;
		right: 2px;
		bottom: 2px;
		background-color: #FFF;
		border: 1px #000 solid;
		overflow: hidden;
	}

	.split {
		height: 100%;

		.design {
			float: left;
			overflow: hidden;
			width: 100%;
			position: relative;
			height: 100%;
		}

		.code {
			display: none;
			overflow: hidden;
			height: 100%;

			.CodeMirror {
				height: 100%;
			}
		}

		&.showcode {
			.design {
				width: 50%;
				border-right: 1px #000 solid;
			}

			.code {
				display: inherit;
			}
		}
	}
}
