<div id="toolbar">
	<div class="title">
		<span>MediaQuere</span><br />
		<sub>the media query visualizer</sub>
	</div>
	<ul>
		<li>
			File
			<ul>
				<li ng-click="app.newDocument()">
					<i class="fa fa-plus"></i>
					New Document
				</li>
				<li>
					Import<i class="fa fa-right fa-caret-right"></i>
					<ul>
						<li url-input-modal>From Domain</li>
						<li>From File</li>
						<li css-input-modal>From Input</li>
					</ul>
				</li>
			</ul>
		</li>
		<li>
			View
			<ul>
				<li ng-click="$root.settings.viewOpts.showDesignAndCode = !$root.settings.viewOpts.showDesignAndCode">
					<i class="fa" ng-class="{'fa-check': $root.settings.viewOpts.showDesignAndCode}"></i>
					Design and code view
				</li>
			</ul>
		</li>
		<li>
			Canvas
			<ul>
				<li ng-click="app.canvas.zoom = 100">Reset Zoom</li>
			</ul>
		</li>
		<li>
			Viewport
			<ul>
				<li>
					Presets<i class="fa fa-right fa-caret-right"></i>
					<ul>
						<li ng-repeat="section in $root.viewportPresets">
							{{section.name}}<i class="fa fa-right fa-caret-right"></i>
							<ul>
								<li ng-repeat="preset in section.presets" ng-click="app.setViewportPreset(preset)">
									{{preset.name}}
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li ng-click="app.switchOrientation()">
					<i class="fa" ng-class="{'fa-check': $root.settings.viewportOpts.orientationSwitched}"></i>
					Switch Orientation
				</li>
			</ul>
		</li>
		<li>
			Layers
			<ul>
				<li new-layer-modal>
					<i class="fa fa-plus"></i>
					New Layer
				</li>
				<li>
					Themes<i class="fa fa-right fa-caret-right"></i>
					<ul>
						<li ng-repeat="theme in $root.layerThemes" ng-click="$root.settings.layerOpts.curLayerTheme = $index">
							<i class="fa" ng-class="{'fa-check': $root.settings.layerOpts.curLayerTheme == $index}"></i>
							{{theme.name}}
						</li>
					</ul>
				</li>
				<li ng-click="$root.settings.layerOpts.showDuplicates = !$root.settings.layerOpts.showDuplicates">
					<i class="fa" ng-class="{'fa-check': $root.settings.layerOpts.showDuplicates}"></i>
					Show Duplicates
				</li>
				<li ng-click="$root.settings.layerOpts.showMatchedInViewport = !$root.settings.layerOpts.showMatchedInViewport">
					<i class="fa" ng-class="{'fa-check': $root.settings.layerOpts.showMatchedInViewport}"></i>
					Show only matched in viewport
				</li>
			</ul>
		</li>
		<li>
			Help
			<ul>
				<li>
					<a target="_blank" href="https://github.com/WarriorRocker/mediaquere">
						<i class="fa fa-github"></i>
						Fork on GitHub
					</a>
				</li>
				<li>
					<a target="_blank" href="https://github.com/WarriorRocker/mediaquere/issues">
						<i class="fa fa-exclamation-triangle"></i>
						Report an issue
					</a>
				</li>
			</ul>
		</li>
	</ul>
</div>