<div id="toolbar">
	<div class="title">
		<span>MediaQuere</span><br />
		<sub>the media query visualizer</sub>
	</div>
	<ul>
		<li>
			File
			<ul>
				<li>
					Import
					<ul>
						<li url-input-modal>From Domain</li>
						<li>From File</li>
						<li css-input-modal>From Input</li>
					</ul>
				</li>
			</ul>
		</li>
		<li>
			Canvas
			<ul>
				<li ng-click="app.canvas.zoom = 100">Reset Zoom</li>
			</ul>
		</li>
		<li>
			Viewport
			<ul>
				<li>
					Presets
					<ul>
						<li ng-repeat="section in $root.viewportPresets">
							{{section.name}}
							<ul>
								<li ng-repeat="preset in section.presets" ng-click="app.setViewportPreset(preset)">
									{{preset.name}}
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li ng-click="app.switchOrientation()">
					Switch Orientation => {{$root.settings.viewportOpts.orientationSwitched}}
				</li>
			</ul>
		</li>
		<li>
			Layers
			<ul>
				<li>
					Themes
					<ul>
						<li ng-repeat="theme in $root.layerThemes" ng-click="$root.settings.layerOpts.curLayerTheme = $index">
							{{theme.name}}
						</li>
					</ul>
				</li>
				<li ng-click="$root.settings.layerOpts.showDuplicates = !$root.settings.layerOpts.showDuplicates">
					Show Duplicates => {{$root.settings.layerOpts.showDuplicates}}
				</li>
				<li ng-click="$root.settings.layerOpts.showMatchedInViewport = !$root.settings.layerOpts.showMatchedInViewport">
					Show only matched in viewport => {{$root.settings.layerOpts.showMatchedInViewport}}
				</li>
			</ul>
		</li>
		<li>Help</li>
	</ul>
</div>