<div class="visualizer" visualizer>
	<div class="inner">
		<div class="viewport" style="{{vis.getViewportStyle($root.canvas)}}">
			<div class="top"></div>
			<div class="bottom"></div>
			<div class="right"></div>
			<div class="left"></div>
			<div class="drag" layer-resize width="$root.canvas.viewport.width" height="$root.canvas.viewport.height" zoom="$root.canvas.zoom">
				<div class="n"></div><div class="e"></div><div class="s"></div><div class="w"></div>
				<div class="ne"></div><div class="se"></div><div class="nw"></div><div class="sw"></div>
			</div>
		</div>
		<div ng-repeat="layer in $root.layers track by $index" class="block {{(layer.hover ? 'hover' : '')}}" style="{{vis.getLayerStyle(layer)}}">
			<div class="border" style="{{'border-color: ' + layer.borderColor}}"></div>
			<div ng-if="(layer.minWidth != -1 || layer.minHeight != -1)" class="block inner" style="{{vis.getInnerLayerStyle(layer)}}">
				<div class="border" style="{{'border-color: ' + layer.borderColor}}"></div>
				<div class="top" style="{{'background-color: ' + (layer.hover ? layer.hoverBgColor : layer.bgColor)}}"></div>
				<div class="bottom" style="{{'background-color: ' + (layer.hover ? layer.hoverBgColor : layer.bgColor)}}"></div>
				<div class="left" style="{{'background-color: ' + (layer.hover ? layer.hoverBgColor : layer.bgColor)}}"></div>
				<div class="right" style="{{'background-color: ' + (layer.hover ? layer.hoverBgColor : layer.bgColor)}}"></div>
				<div class="drag" layer-resize width="layer.minWidth" height="layer.minHeight" zoom="$root.canvas.zoom">
					<div class="n"></div><div class="e"></div><div class="s"></div><div class="w"></div>
					<div class="ne"></div><div class="se"></div><div class="nw"></div><div class="sw"></div>
				</div>
			</div>
			<div class="drag" layer-resize width="layer.maxWidth" height="layer.maxHeight" zoom="$root.canvas.zoom">
				<div class="n"></div><div class="e"></div><div class="s"></div><div class="w"></div>
				<div class="ne"></div><div class="se"></div><div class="nw"></div><div class="sw"></div>
			</div>
		</div>
	</div>
</div>